

<div class="col-md-12" id="flight-search-form">
  <form [formGroup]="myForm" novalidate (ngSubmit)="save($event,myForm.value, myForm.valid)">


    <mat-form-field class="example-full-width">
      <input matInput placeholder="From (City)" aria-label="State" [matAutocomplete]="auto1" [formControl]="myForm.get('from')" formControlName="from">
      <mat-autocomplete #auto1="matAutocomplete">
        <mat-option *ngFor="let state of filteredFrom | async" [value]="state.name">
          <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
          <span>{{ state.name }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="To (City)" aria-label="State" [matAutocomplete]="auto2" [formControl]="myForm.get('to')" formControlName="to">
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let state of filteredTo | async" [value]="state.name">
          <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
          <span>{{ state.name }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>



    <div class="form-group">
      <label for="">Departure</label> <br/>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="departure" [matDatepicker]="picker1" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker1></mat-datepicker>
      </mat-form-field>

      <small [hidden]="myForm.controls.departure.valid || (myForm.controls.departure.pristine && !submitted)" class="text-danger">
        Departure is required.
      </small>
    </div>


    <div class="form-group">
      <label for="">Passengers</label>
      <input matInput type="number" class="form-control" formControlName="passengers">
      <small [hidden]="myForm.controls.passengers.valid || (myForm.controls.passengers && !submitted)" class="text-danger">
        Passenger Number is required.
      </small>
    </div>

    <div class="form-group">
      <label for="">Minimum Cost: {{myForm.get('minimum').value}}</label>
      <mat-slider class="matslidercustom" min="1000" max="20000" step="500" value="1000"
                  formControlName="minimum"
                  thumbLabel
                  tickInterval="auto"
                  showTicks
        ></mat-slider>

    </div>

    <div class="form-group">
      <label for="">Maximum Cost: {{myForm.get('maximum').value}}</label>
      <mat-slider class="matslidercustom" min="30000" max="50000" step="500" value="50000"
                  formControlName="maximum"
                  thumbLabel
                  tickInterval="auto"
                  showTicks
        ></mat-slider>
    </div>


    <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid">Submit</button>
    <br/>




  </form>
</div>
