﻿
@font-face {
  font-family: 'JosefinSans';
  src: url('../font/JosefinSans.eot?#iefix') format('embedded-opentype'),  
       url('../font/JosefinSans.woff') format('woff'), 
       url('../font/JosefinSans.ttf')  format('truetype'), 
       url('../font/JosefinSans.svg#JosefinSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('../font/Raleway-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../font/Raleway-Regular.woff') format('woff'), 
       url('../font/Raleway-Regular.ttf')  format('truetype'), 
       url('../font/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-SemiBold';
  src: url('../font/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),  
       url('../font/SegoeUI-SemiBold.woff') format('woff'), 
       url('../font/SegoeUI-SemiBold.ttf')  format('truetype'), 
       url('../font/SegoeUI-SemiBold.svg#SegoeUI-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../font/Lato-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../font/Lato-Regular.woff') format('woff'), 
       url('../font/Lato-Regular.ttf')  format('truetype'), 
       url('../font/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family:"Raleway SemiBold";
    src:url("../font/Raleway-SemiBold.eot?") format("eot"),
        url("../font/Raleway-SemiBold.woff") format("woff"),
        url("../font/Raleway-SemiBold.ttf") format("truetype"),
        url("../font/Raleway-SemiBold.svg#Raleway-SemiBold") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
  font-family: 'ArialMT';
  src: url('../font/ArialMT.eot?#iefix') format('embedded-opentype'),  
      url('../font/ArialMT.woff') format('woff'), 
      url('../font/ArialMT.ttf')  format('truetype'), 
      url('../font/ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../font/MyriadPro-Regular.otf') format('opentype'),
         url('../font/Myriad Web Pro.ttf') format('truetype'),
         url('../font/MyriadPro-Regular.woff') format('woff');
}











