/* Reset */  
 h1, h2, h3, h4, h5, h6, img, ul, li, table, p, hr { border:0px; margin:0px; padding:0px; font-weight:normal; }
 a {text-decoration: none;}

/*----Layout Styles----*/
html, body { color:#2F2F2F; font-size: 14px; font-family: Arial, Helvetica, sans-serif; height:100%; margin:0px; padding:0px; }
.main-container{ border: 0px solid; min-height: 100%; position: relative; width:100%; background-color:#F5F5F5; }
.page-header{ padding: 0px 2%; background-color: #48B1E0; border-bottom:3px solid #FBE214; color: #FBE214; text-align: center; font-size: 32px; line-height: 54px; }
.content{width:100%; min-height:500px; padding-bottom:20px; }
.content-padding { padding:20px 2%; }

/*----Common Styles----*/
.dir-left { float:left; }
.dir-right { float:right; }
.clear { clear:both; }
.ele-padding { padding:10px 15px; }
.ele-margin { margin:15px; }
.ele-bdr { border: 1px solid #D0D0D0; }
.ele-hide { display:none; }
.grey-bg { background-color: #E2E2E2; }
.red-txt { color:red; }
.ele-center{text-align:center;}

/* ----- Style for survey page -------------*/
.left-block { width:20%; margin-right:2%; min-height: 450px; }
.right-block { width:78%; }
.ques-number { font-weight:600; min-width:25px; margin-right: 5px; display: inline-block; }
.ques-block { border-bottom: 1px dashed #CACACA; margin-bottom:10px; padding-bottom:15px;}
.form-label { width:100%; line-height: 27px; }
.form-input { width:100%; border:1px solid #D2D2D2; text-indent: 5px; line-height: 23px;}
.form-radio { border:1px solid #B1B1B1; -webkit-transform: scale(1.2, 1.2); margin: 0px 5px 0px 0px; }
.radio-label { margin-right:30px; }
.form-dropdown { height:26px; width:60%; margin-top:4px; }
.form-textarea { width:99.2%; height:140px; border:1px solid #D2D2D2; resize:vertical; }
.form-btnDif { background-color:#5eaddd; color:#ffffff; font-size: 15px; padding:8px 20px; margin-left:15px; }
.form-btn { background-color:#F4800C; color:#ffffff; font-size: 15px; padding:8px 20px; margin-left:15px; }
.form-btn:hover, .add-data-btn:hover ,.form-btnDif:hover { background-color:#E6780B; cursor:pointer; -webkit-box-shadow: 2px 2px 6px 0px rgba(112,112,112,1);
                                       -moz-box-shadow: 2px 2px 6px 0px rgba(112,112,112,1); box-shadow: 2px 2px 6px 0px rgba(112,112,112,1); }
.menu-btn { background-color:#48B1E0; color:#ffffff; font-size:16px; text-align: center; border-radius:4px; line-height:48px; margin-bottom:10px; }
.menu-btn:hover { background-color:#F4800C; cursor:pointer; -webkit-box-shadow: 3px 3px 6px 0px rgba(112,112,112,1);
                  -moz-box-shadow: 3px 3px 6px 0px rgba(112,112,112,1); box-shadow: 3px 3px 6px 0px rgba(112,112,112,1); }
.menu-btn-active { background-color:#F4800C; }
.datamap-icn { background:url(./images/datamap.png) no-repeat center center; height:34px; width:34px; margin-top:11px;border-right: 1px solid #989898;  margin-right: 20px;  padding-right: 70px; }
.datamap-icn:hover { background:url(./images/datamap-hover.png) no-repeat center center; cursor:pointer;  }
.menu-hdr { line-height: 33px; font-size: 18px; color: #48B1E0; }
.addmore-btn { margin-left: 15px; font-weight: 600; cursor: pointer; color: #48B1E0; font-size: 17px; }
.addmore-btn:hover { color:#F4800C; }
.ele-click { cursor:pointer; }
.hdr-row-icn { margin-top:14px; width:26px; height:26px; }


/* ----- Style for home page -------------*/
.home-content { width:60%; margin: 0px auto; padding:6% 5%; }
.home-left-block { width: 60%; border-right: 1px dashed #5A5A5A; }
.home-right-block { width: 39%; text-align: center; }
.add-data-btn { background:#F4800C url(../css/images/addData-icn.png) no-repeat 50px center; text-indent:40px; color:#fff; font-size:20px;
                width:190px; margin:0px auto; border-radius:4px; line-height:62px; }
.fileupload-data-btn { background:#F4800C url(../css/images/fileUpload-icn.png) no-repeat 50px center; text-indent:40px; color:#fff; font-size:20px;
                width:190px; margin:0px auto; border-radius:4px; line-height:62px; }
                
.home-btn { background:url(./images/home-icn.png) no-repeat center center; height:34px; width:34px; margin-top:11px;border-right: 1px solid #989898;    margin-right: 10px;
    padding-right: 30px; }
.home-btn:hover { background:url(./images/home-icn-hover.png) no-repeat center center; cursor:pointer;  }

.myrepot-icn { background:url(./images/myrepots.png) no-repeat center center; height:34px; width:34px; margin-top:11px;border-right: 1px solid #989898;    margin-right: 10px;
    padding-right: 30px; }
.myrepot-icn:hover { background:url(./images/myrepots-hover.png) no-repeat center center; cursor:pointer;  }

.myrepotgroup-icn { background:url(./images/myrepotsgroup.png) no-repeat center center; height:34px; width:34px; margin-top:11px;border-right: 1px solid #989898;    margin-right: 10px;
    padding-right: 30px; }
.myrepotgroup-icn:hover { background:url(./images/myrepotsgroup-hover.png) no-repeat center center; cursor:pointer;  }
/* .logout-icn {     
	background: url(./images/logout-icn.png) no-repeat center center;
    height: 34px;
    width: 34px;
    margin-top: 14px;
    margin-right: 12px;
    padding-right:10px;
    }
.logout-icn:hover { background:url(./images/logout-icn-hover.png) no-repeat center center; cursor:pointer;  }
 */
.fileupload-icn {     
	
	background: url(./images/fileUpload-icn.png) no-repeat center center;
    height: 34px;
    width: 34px;
    border-right: 1px solid #989898;
    margin-top: 14px;

        margin-right: 14px;
    padding-right: 25px;
    }
.fileupload-icn:hover { background:url(./images/fileUpload-icn-hover.png) no-repeat center center; cursor:pointer;  }

.download-icn { background:url(./images/download-icn.png) no-repeat center center; }
.download-icn:hover { background:url(./images/download-icn-hover.png) no-repeat center center; }
.report-icns {
    height: 26px;
    width: 60px;
    border-left: 1px solid #989898;
}

.content-slickgridview{
    margin: 10px;
    box-shadow: 1px 3px 10px #C6C6C6;
    background-color: #ffffff;
    }
    .ele-hdr {
    border-bottom: 1px solid #D4D4D4;
    line-height: 26px;
}
.ele-padding-sml {
    padding: 5px 10px;
}
.tooltip {
    position: absolute;
    display: inline-block;
    padding-left: 7px;
   
}   
		   .tooltip .tooltiptext {
    visibility: hidden;
    min-width: 220px;
    background-color: #D7DADB;
    color: #000;
    text-align: center;
    padding: 0px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-left: 35px;
}
	/* Show the tooltip text when you mouse over the tooltip container */
		.tooltip:hover .tooltiptext {
		    visibility: visible;
		}
		.tooltip .tooltiptext::after {
		    content: " ";
		    position: absolute;
		    top: 50%;
		    right: 100%; /* To the left of the tooltip */
		    margin-top: -5px;
		    border-width: 5px;
		    border-style: solid;
		    border-color: transparent #D7DADB transparent transparent;
		}

#infraTbl {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

#infraTbl td {
	padding: .5em;
}

#infraTbl td select {
	width: 100%;
	padding: .3em .5em;
}

#infraTbl td input {
	width: 100%;
}


.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.disable-btn{background-color: #d6d3d3;}

.permissionError { height: 289px; background:url(./images/error-bg.png) no-repeat center center;  margin-top:11px;   }
.errorHead{text-align: center; padding-top: 57px;color: white;font-size: 22px;font-weight: 700;}
.permissionmsg{    width: 50%;
    border: 0px;
    margin: auto;
        margin-top: 97px;
    text-align: center;}
    
   /*  dashboard  */
   .mainHeder{height: 40px;
    background-color: #04046b;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 20px;
        padding-bottom: 40px;}
.headertxt{    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;}
    
    .rcorners1 {
        border-radius: 25px;
    border: 2px solid #4545c6;
    padding: 15px;
        width: 251px;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #04046b;
    color: white;
}
 .rcorners2 {
        border-radius: 25px;
    border: 2px solid #f7af39;
    padding: 20px;
        width: 251px;
    height: 60px;
    margin: 10px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #f8b64b;
}
