@import url("font.css");
body,html{
    height:100%;
    width:100%;
    font-family: Calibri;
}
h1,h2,h3,h4{
    font-weight:bold;
}
.btn{
    padding:5px 8px;
    color:#fff;
    /*background:#ba102c;*/
    /*border:1px solid #ba102c;*/
    background:#093f7d;
    border:1px solid #093f7d;
    border-radius:5px;
    outline:none;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    outline:none;
}
.btn:hover,
.btn.active,
.btn:focus{
    color:#093f7d;
    background:#fff;
    /*border:1px solid #ba102c;*/
    border: 1px solid #093f7d;
    outline:none;
    font-weight:bold;
    outline:none;
}
.btn-login{
    width:100%;
}
body.login-wrap {
    /*background: url('../images/login-bg.png') repeat-y center;*/
    background: #1d84c7; /* Old browsers */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 39%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 39%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 39%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.ajax-loader {
	background: rgba(255, 255, 255, 0.7);
}
.ajax-loader.full-loader {
	width: 100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
}
.ajax-loader .img-loader {
	position:absolute;
	width:150px;
	top: 50%;
	left:50%;
	margin-left: -75px;
	margin-top: -42px;
}
.user{
    position:absolute;
    background-color:#ccc;
    width:30px;
    height:34px;
    text-align: center;
    padding-top: 8px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.user-name,
.user-pwd{
    padding-left:35px;
}

header .topbar{
    padding:5px;
    border-top:5px solid #062335;
    background-color:#fff;
    width:100%;
}
header .topbar .center-content{
    padding-top:20px;
    padding-bottom:20px;
}
header .topbar .center-content .left-logo{
    text-align: right;
    padding-right: 100PX;
}
header .topbar .center-content .right-logo{
    padding-left:65px;
}
header .topbar .left-content {
    float:left;
    display:inline-block;
}
header .topbar .left-content img{
    width:150px;
    height:auto;
}
header .topbar .right-content{
    float:right;
    color:#093f7d;
    display:inline-block;
}
header .topbar .right-content span{
    float:right;
}
header .topbar .right-content span a{
    font-size:16px;
    color:#093f7d;
    text-decoration:none;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.timesheet .txtCenter{
    text-align:center;
}
.timesheet td.txtCenter a{
    font-size:20px;
    margin:5px;
}
.timesheet td.txtCenter a:hover{
    text-decoration:none;
}
@media(min-width:768px){
    .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
    .navbar-inverse .navbar-nav > li.dropdown >ul.dropdown-menu > li a{
    color:#3d7ec0;
}
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.form-content{
    margin-top:100px;
}
.form-content form{
     box-shadow: 0px 0px 5px #888888;
     border-radius:10px;
}
.form-content .form-header {
    background-color: #5bc0de;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.form-content .form-header .fa{
    color:#fff;
}
.form-content .form-header h2{
    color:#fff;
    padding:5px 10px;
    margin-bottom:0;
}
.form-content .login-form{
    padding:40px 40px 20px 40px;
    background:#fff;
    width:100%;
    margin:0 auto;
}
.form-content form .login-form label,
.form-content form .login-form .caption{
    /*color:#4086c3;*/
    color:#333;
    font-weight:bold;
    font-size:16px;
}
.form-control:focus{
    outline:none;
    box-shadow:none;
    border:2px solid #ccc;
}
.form-content form input[type="radio"],
.form-content form input[type="checkbox"]{
    width:15px;
    height:15px;
    position: relative;
    top: 3px;
    right: 5px;
}
.form-content form .form-body .danger{
    color:#ba102c;
    font-size:14px;
}

.form-content form .form-body .left-text{
    border-right:2px solid #9a9899;
    padding-right: 12px;
    font-weight: 700;
    color: #9a9899;
    font-size: 12px;
    margin-left:20px;
}

.form-content form .form-body .right-text .forgot-link{
    color:#9a9899;
    padding-top:7px;
    text-decoration:none;
    font-size:12px;
    font-weight:700;
}
.form-content form .btn-wrap{
    text-align:center;
    margin-top:20px;
}
footer{
    background-color:#093f7d;
}

/*************Inner Page************/
.navbar-inverse {
    background-color: #093f7d;
    border-color: #093f7d;
    color:#fff;
    border-radius:0;
}
.navbar-inverse .navbar-nav > li a{
    color:#fff;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #3d7ec0;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #3d7ec0;
}

.navbar-inverse .navbar-nav > li.dropdown >ul.dropdown-menu > li a:hover, 
.navbar-inverse .navbar-nav > li.dropdown >ul.dropdown-menu > li a:focus {
    color: #fff;
    background-color: #3d7ec0;
}
.filter-wrap{
    padding:10px;
    border-radius:5px;
    background-color:#eee;
    display: inline-block;
    width: 100%;
}
.filter-wrap .filter-left{
    display:inline-block;
    float:left;
}
.filter-wrap .filter-left a.date-prev,
.filter-wrap .filter-left a.date-next{
    text-decoration:none;
    color:#444;
    padding:0 5px;
    background-color:#ccc;
    border-radius:5px;
}
.filter-wrap .filter-left .date{
    margin-left:10px;
    margin-right:15px;
}
.filter-wrap .filter-left .date img{
    vertical-align:top;
}
.filter-wrap .filter-left .status label{
    color:#093f7d;
    margin-right:5px;
}
.filter-wrap .filter-right{
    display:inline-block;
    float:right;
}
.btn-timesheet{
    background-color:#3999c2;
    border-color:#3999c2;
    font-weight:normal;
    font-size:14px;
}
.btn-timesheet:hover,
.btn-timesheet:active,
.btn-timesheet:focus{
    border-color:#3999c2;
    background-color:#fff;
    color:#3999c2;
    font-weight:normal;
}
.btn-timesheet.btn-save{
    padding:5px 20px;
    text-align:center;
}
.partner-title{
    padding:10px;
    color:#3999c2;
    font-weight:700;
}
.partner-title span{
    color:#333;
    margin-left:10px;
}
.partner-title .btn{
    float:right;
    margin:5px;
}
.timesheet{
    border:none;
    user-select: none; 
}
.timesheet tr th{
    background-color: #dae9fc;
    color: #888888;
    width: 50px;
    vertical-align: middle;
    border-bottom: 3px solid #fff;
}
.timesheet tr td .txt-time-entry{
    width:30px;
}
.timesheet tr td.time-action{
    text-align:center;
}
.timesheet tr th.day{
    text-align:right;
}
.timesheet tr th.start{
     border-left:5px solid #fff;
    background-color: #cddef2;
}
.timesheet tr th.end{
    background-color: #cddef2;

}
.timesheet tr th.comment,
.timesheet tr td.comment{
    min-width:200px;
    padding-left:20px;
     border-left:5px solid #fff;
}
/*.timesheet tr th:first-child,
.timesheet tr td:first-child {
    width: 30px;
    text-align:center;
}
.timesheet tr td:first-child .idx-check {
    width: 15px;
    height: 15px;
}*/
.timesheet tr th.drp-timesheet {
    border-left:none;
    width:520px;
}
.timesheet tr td.drp-timesheet{
    border-left:none;
    display:block;
    /*width:350px;*/
    white-space: nowrap;
}
.timesheet tr td.drp-timesheet select
{
 	outline:none;
    display:inline-block;
    width:150px;
}
.timesheet tr td.drp-timesheet select.prj-code {
    width:190px;
}

.timesheet tr td.drp-timesheet select {
    background-color:#fff;
}
.timesheet tr td.drp-timesheet select:focus {
    outline:none;
    box-shadow:none;
    border:1px solid #ccc;
}
.timesheet tr th:last-child,
.timesheet tr td:last-child{
    border-right:none;
}

.timesheet tr:nth-child(even) {
    background-color: #f2f2f2
}
.timesheet tr:nth-child(odd) td.start{
     background-color:#f8f8f8;
     border-left:5px solid #fff;
    text-align:center;

}
.timesheet tr:nth-child(odd) td.end {
    background-color:#f8f8f8;
    text-align:center;

}
.timesheet tr:nth-child(even) td.start{
    background-color:#efefef;
     border-left:5px solid #fff;
    text-align:center;
}
.timesheet tr:nth-child(even) td.end{
    background-color:#efefef;
     text-align:center;
}
.timesheet tr td.total{
    font-weight:bold;
    text-align:center;
}
.timesheet tr td .txt-time-comment{
    border: 1px solid #ccc;
    background:transparent;
    cursor:text;
    height: 35px;
    width:100%;
}
.timesheet tr td .txt-time-entry{
       border: 1px solid #ccc;
    border-radius: 5px;
    background:transparent;
    cursor:text;
    text-align:center;
    height: 35px;
    width:100%;
}
.datepicker1{
   visibility : hidden; 
   outline:none;
   width:0;
}
.datepicker:active,
.datepicker:focus,
.datepicker:hover {
    outline: none;
    text-decoration:none;
}
.timesheet tfoot{
    background-color: #f2f2f2
}
.timesheet tfoot .ng-binding {
    text-align:center;
    font-weight:bold;
}

.btn-timesheet-invert{
    padding:5px 8px;
    color:#3999c2;
    background:#fff;
    border:1px solid #3999c2;
    border-radius:5px;
    outline:none;
    text-align:center;
    font-size:14px;
    outline:none;
}
.btn-timesheet-invert:hover,
.btn-timesheet-invert.active,
.btn-timesheet-invert:focus{
    color:#fff;
    background:#3999c2;
    border: 1px solid #3999c2;
}
tfoot tr td{
    text-align:right;
}
tfoot tr td:first-child{
    text-align:left;
}
#viewTimesheet .modal-dialog{
	width:800px;
}
#viewTimesheet .modal-dialog .modal-content{
	border-radius:0;
}
#viewTimesheet .modal-dialog .modal-header{
	background-color:#093f7d;
	color:#fff;
}
#viewTimesheet .modal-dialog .modal-header .close{
	opacity:1;
	color:#fff;
}
#viewTimesheet .modal-dialog .btn-default{
	font-weight:normal;
	font-size:16px;
}
#viewTimesheet .modal-dialog .modal-header,
#viewTimesheet .modal-dialog .modal-footer {
	padding:5px 15px;
}
/***********************************/
@media(max-width:767px){
    header .topbar .center-content .left-logo {
        padding-right: 0;
    }

    header .topbar .center-content .right-logo {
        padding-left: 0;
    }
    header .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a{
            color: #fff;
    background-color: #3d7ec0;
    }
    .dropdown-submenu.active > .dropdown-menu {
        display: block;
    }
    
}
@media (max-width:480px){
    .form-content form .user-radio span {
        float: none;
    }
    header .topbar .center-content .left-logo {
        text-align: left;
    }
    .form-content form .form-body .left-text {
        width:100%;
        margin-left: 0;
    }
     header .topbar .center-content .left-logo img{
         width:100px;
    }

    header .topbar .center-content .right-logo img{
                 width:135px;
    }
}
@media(max-width:320px) {
    .form-content form .form-body .left-text {
        border: none;
    margin-left:0;
}
}