<div class="col-md-12 searchresults">
  <div class="row" *ngIf="flights">
    <h3>Search Results</h3>

    <h2 class="lead"><strong class="text-danger">{{flights.length}}</strong> results were found for the search..</h2>
  </div>


  <article class="search-result row" *ngFor="let item of flights">
    <div class="col-xs-4 col-sm-4 col-md-4">
      <ul class="meta-search">
        <li><i class="glyphicon glyphicon-time icon-time"></i><h4>{{item.departure | amDateFormat: 'h:mm a'}}</h4></li>
        <li><i class="glyphicon glyphicon-tags icon-time"></i> <h4>{{item.available}} Available</h4></li>
      </ul>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 excerpet">
      <h3><a href="#" title="">{{item.cost}} Rs</a></h3>
      <p>{{item.id}}</p>
      <p>{{item.from}} <i class="glyphicon glyphicon-chevron-right"></i> {{item.to}}</p>

    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
      <a href="#" title="Lorem ipsum" class="thumbnail"><img
        style="background-size: contain; height: 90px" src="{{item.img}}" alt="Lorem ipsum"/></a>
    </div>
    <span class="clearfix border"></span>

  </article>
</div>

