<header>
  <div class="topbar">
    <div class="container-fluid">
      <div class="left-content">
        <h3>Flight Search Engine</h3>
        <br/>
      </div>
    </div>
  </div>
  <utu-top-navigation></utu-top-navigation>
</header>
