<div class="row">

  <section class="col-xs-12 col-sm-6 col-md-4">


    <ul class="nav nav-tabs">
      <li class="active"><a href="#">One Way</a></li>
    </ul>

    <div>
      <utu-flightsearch-form
        (search)="searchHandler($event)"
        ></utu-flightsearch-form>
    </div>

  </section>


  <section class="col-xs-12 col-sm-6 col-md-8">
    <utu-flightsearch-card
      [flights]="flights$ | async"
      ></utu-flightsearch-card>

  </section>

  <div class="row" [hidden]="!isSearching">
    <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
  </div>

</div>
